<mat-toolbar class="flex items-center justify-between">
  <span>Receptionist App</span>
  <nav class="text-sm flex space-x-10">
    <a routerLink="/">User</a>
    <a routerLink="/dashboard">Dashboard</a>
  </nav>
</mat-toolbar>