<form [formGroup]="userForm">
    <mat-card class="!flex flex-col">
        <mat-form-field appearance="fill">
            <mat-label>First name</mat-label>
            <input matInput placeholder="First name" formControlName="firstName">
            <mat-error *ngIf="userForm.controls['firstName'].hasError('required') &&
            (userForm.controls['firstName'].dirty ||
              userForm.controls['firstName'].touched)">First name is required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Last name</mat-label>
            <input matInput placeholder="First name" formControlName="lastName">
            <mat-error *ngIf="userForm.controls['lastName'].hasError('required') &&
            (userForm.controls['lastName'].dirty ||
              userForm.controls['lastName'].touched)">Last name is required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Job</mat-label>
            <mat-select formControlName="job">
                <mat-option value="engineer">Engineer</mat-option>
                <mat-option value="developer">Developer</mat-option>
                <mat-option value="designer">Designer</mat-option>
            </mat-select>
            <mat-error *ngIf="userForm.controls['job'].hasError('required') &&
            (userForm.controls['job'].dirty ||
              userForm.controls['job'].touched)">Job is required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Salary</mat-label>
            <input matInput placeholder="Salary" type="number" formControlName="salary">
            <mat-error *ngIf="userForm.controls['salary'].hasError('required') &&
            (userForm.controls['salary'].dirty ||
              userForm.controls['salary'].touched)">Salary is required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Address</mat-label>
            <textarea matInput placeholder="Address" formControlName="address"></textarea>
            <mat-error *ngIf="userForm.controls['address'].hasError('required') &&
            (userForm.controls['address'].dirty ||
              userForm.controls['address'].touched)">Adress is required</mat-error>
        </mat-form-field>
        <div class="flex items-center justify-between mt-4">
            <button mat-raised-button color="accent">Reset</button>
            <button *ngIf="!userPayload?.id" mat-raised-button color="primary" (click)="submit()">{{isLoading ? 'Submitting...': 'Submit'}}</button>
            <button *ngIf="userPayload?.id" mat-raised-button color="primary" (click)="submit()">{{isLoading ? 'Submitting...': 'Save'}}</button>
        </div>
    </mat-card>
</form>