<section class="grid grid-cols-2 gap-4 p-8">
    <app-receptionist (onClickUser)="onUserClick($event)" (onRemoveUser)="deleteUser($event)"></app-receptionist>
    <app-user-form [isLoading]="isLoading" [selectedUser]="selectedUser" (onSubmit)="submitUser($event)"
        (onUpdate)="updateUser($event)"></app-user-form>
</section>