<mat-card *ngFor="let user of peoples" class="mb-4 cursor-pointer !flex justify-between" (click)="onUserClick(user)">
    <mat-card-header>
        <div mat-card-avatar class="avatar-contact">{{user.firstName | initialNamePipe}}</div>
        <mat-card-title class="text-yellow-400 !mb-1 capitalize">{{user.firstName}} {{user.lastName}}</mat-card-title>
        <mat-card-subtitle class="capitalize">{{user.job}} (${{user.salary}})</mat-card-subtitle>
    </mat-card-header>
    <button mat-icon-button color="warn" (click)="onRemoveUserClick($event, user.id)">
        <mat-icon>delete</mat-icon>
    </button>
</mat-card>