<h3 class="text-3xl font-bold p-10">Dashboard</h3>
<div class="grid grid-cols-2 gap-10 p-10">
    <div class="bg-white shadow-md rounded-md p-8">
        <app-chart-bar *ngIf="chartBarData.length" [data]="chartBarData" [categories]="chartBarCategories">
        </app-chart-bar>
    </div>
    <div class="bg-white shadow-md rounded-md p-8">
        <div class="flex justify-between mb-8">
            <h4 class="text-xl font-semibold">User Jobs Chart</h4>
            <button mat-raised-button color="primary">View details</button>
        </div>

        <div class="flex items-center justify-center">
            <app-pie-chart *ngIf="pieChartData.length" [data]="pieChartData" [labels]="pieChartLabel"></app-pie-chart>
        </div>
    </div>
</div>